<section class="content col-md-8 offset-md-2">
	Bem vindo(a) <%= current_user.name %>

	<section class="float-right">
		<b>Perfil Administrativo</b>
		<%= link_to 'Sair', destroy_user_session_path, method: :delete, class: 'btn btn-danger' %>
	</section>

	<hr />

	<section class="row mt-4 text-center">
		<section class="col-6">
			<%= link_to 'Cidades', cities_path, class: 'btn btn-success' %>
		</section>

		<section class="col-6">
			<%= link_to 'Categorias', categories_path, class: 'btn btn-warning' %>
		</section>
	</section>
</section>