<section class="content col-md-6 offset-md-3">
	<%= link_to 'Sair', destroy_user_session_path, method: :delete, class: 'float-right btn btn-danger' %>
	<h3>Escolha uma das opções abaixo</h3>

  	<section class="row buttons_role">
  		<section class="col-6 form-group">
  			<%= link_to 'Sou Cliente', welcome_set_user_role_path(role: 'client'), class: 'btn btn-success form-control' %>
  		</section>

  		<section class="col-6 form-group">
  			<%= link_to 'Sou Lojista', welcome_set_user_role_path(role: 'shopkeeper'), class: 'btn btn-info form-control' %>
  		</section>
  	</section>	
</section>