<footer class="fixed-bottom">
	<section class="row">
		<setion class="col-6">
			<section class="float-right">
				<%= link_to 'Login', new_user_session_path %>
			</section>
		</setion>

		<section class="col-6">
			<section class="float-left">
				<%= link_to 'Cadastre-se', new_user_registration_path %>
			</section>
		</section>
	</section>
</footer>