<section class="container">
	<%= image_tag 'Logo' %>
</section>

<footer class="fixed-bottom">
	<%= render 'nav-footer' %>

	<%= render (params['user'].present?) ? 'shopkeeper_navigation' : 'visitant_navigation' %>
</footer>