<section class="welcome_footer visitant">
    <section class="row">
        <setion class="col-md-4 offset-md-4 facebook_btn">
            <%= link_to user_facebook_omniauth_authorize_path do %>
                <% session[:role] = "client" %>
                <%= image_tag 'facebook_logo.png' %> entrar com facebook
            <% end %>
        </setion>

        <section class="col-md-4 offset-md-4 google_btn">
            <%= link_to user_google_oauth2_omniauth_authorize_path do %>
                <% session[:role] = "client" %>
                entrar com email
            <% end %>
        </section>

        <section class="col-md-4 offset-md-4 visitant mt-4">
            <%= link_to 'entrar como visitante', cities_path %>
        </section>
    </section>
</section>