.city {
	overflow-y: auto;
	height: 400px;

	.city_section {
		padding: 10px;
		background-color: rgba(245,245,245,0.7);
		border-radius: 20px;
	}

	a {
		color: #005FC4;
	}

	a:hover {
		text-decoration: none;
		color: blue;
	}
}

.city_show {
	.perfil {
		img {
			width: 100%;
		}	
	}

	.perfil:after {
		content:'';
        position:absolute;
        top:0;
        bottom:180px;
        left:0;
        right:0;
        background-color:rgba(255,189,74,0.5);
	}

	.back_button {
		img {
			margin-top: 20px;
			margin-left: 10px;
			position: absolute;
			z-index: 40;
		}
	}

	.description {
		color: #005FC4;
	}
}