.user_login {
	form {
		background-color: rgba(245,245,245,0.8);
		padding: 20px;
		border-radius: 10px;

		.logo {
			img {
				width: 200px;
				margin-top: -100px;
			}
		}

		.auth {
			margin-top: 10px;
			
			img {
				width: 30px;
			}

			a {
				padding:5px;
				font-size: 0.7em;
			}

			.facebook_btn {
				color: white;
				background-color: #3b5998;
				border-radius: 20px;
			}

			.google_btn {
				color: black;
				background-color: rgba(245,245,245,0.8);
				border: 2px solid #3b5998;
				border-radius: 20px;
			}
		}
	}
}