.establishment_content {
	.row {
		#basic-addon1, .select2-selection {
			height: 40px;
			background-color: #FFBD4A;
			width: 100%;
		}


		#basic-addon1 {
			border-top-left-radius: 5px;
			border-bottom-left-radius: 5px;
		}

		.select2-selection {
			padding-top: 5px;
			border-top-left-radius: 0px;
			border-bottom-left-radius: 0px;
		}
	}

	h4, .color_blue, .user_city {
		color: #005FC4;
	}

	.image_category {
		img {
			width: 100%;
			border-radius: 10px;
		}
	}

	.establishments_div {
		border-radius: 20px;
		width: 100%;
		margin-top: 5px;
		padding: 10px;
		color: #005FC4;
		background-color: rgb(245,245,245);
		box-shadow: 2px 2px 5px rgba(10,10,10,0.3);
		
		.perfil {
			img {
				width: 150px;
			}
		}
	}

	.establishments_div:hover {
		background-color: rgba(220,220,220,0.8);
	}	

	a:hover {
		text-decoration: none;
	}
}

.establishment_photo {
	img {
		width: 100%;
	}
}

.about_establishment {
	.items {
		.background-yellow {
			background-color: #FFBD4A;
			border-radius: 10px;
			margin: 5px;
			box-shadow: 2px -2px 3px rgba(10,10,10,0.4);

			img {
				width: 80%;
				padding: 10px;
			}
		}
	}

	.establishment_photo {
		img {
			width: 100%;
		}
	}

	.establishment_icons_background {
		position: absolute;
		margin-top: -200px;
		background-color: rgba(255,189,74,0.7);
		color: white;
		width: 92.5%;
		padding: 20px;
		border-radius: 20px;
		box-shadow: 0px 0px 25px rgba(245,245,245,0.9);

		.close {
			img {
				width: 40px;
			}
		}

		.establishment_icons_information {
			img {	
				width: 50px;
			}

			.address {
				table {
					color: white;
				}
			}

			.telephone, .rating {
				border-bottom: 1px solid rgba(245,245,245,0.7);
				padding-bottom: 10px;
			}

			.rating {
				img {
					width: 30px;
				}
			}
		}
	}

	.description {
		background-color: rgba(245,245,245,0.9);
		box-shadow: -2px 2px 10px rgba(245,245,245,0.7);
		padding: 15px;
	}
}

.color_blue {
	color: #005FC4;
}