.content {
	background-color: rgba(245,245,245,0.7);
	padding: 20px;
	margin-top: -10%;
	border-radius: 10px;

	.buttons_role {
		margin-top: 100px;
	}
}

.welcome_footer {
	height: 200px;
	background-color: #005FC4;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	padding-top: 40px;

	.facebook_btn {
		a {
			background-color: white;
			color: #005FC4;
			font-weight: bold;
			padding:15px;
			border-radius: 20px;

			img {
				width:30px;
				border-radius:100%;
			}
		}
	}

	.google_btn {
		margin-top: 40px;

		a {
			border: 2px solid white;
			border-radius: 20px;
			padding:15px 50px;
			color: white;
		}
	}

	.visitant a {
		font-weight: bold;
		color: white;
	}
}