<section class="establishment_content">
	<h3>Meus Estabelecimentos</h3>

	<hr>

	<%= render 'list_establishments' %>
</section>

<br />

<%= link_to 'Voltar', establishments_path, class: 'btn btn-warning' %>